<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon/favicon.ico">

        <title>简单书城</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/core/bootstrap.css" rel="stylesheet">
        <link href="/css/common.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/js/lib/toast/toast.css" rel="stylesheet">
        <link href="/css/bookshelf.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">简单书城</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="/">简单书城</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <!--菜单-->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">首页
                            <span class="sr-only">(current)</span>
                        </a>
                        </li>
                        <li class="active">
                            <a>我的书架</a>
                        </li>
                        <li>
                            <a href="/addbook">添加图书</a>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->

        <div class="container ui-content-box" id="VmBook">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" v-if="v!=0" :class="activeId==v? 'active' : ''" v-for="(i,v) in bookMenuBtn" @click="bookBtn(v,i.menuId)"><a href="#">{{
                        i.menuNmae}}</a></li>
                </ul>
            </div>

            <div class="books-warp row placeholders">
                <div class="type-item">

                    <div class=" col-sm-2 col-xs-5 book-item" v-for="(i,v) in bookList">
                        <div class="pull-img-box">
                            <img :src="path +i.bookImg" class="" alt="">
                        </div>
                        <div class="cmdlist-text">
                            <span class="book-name ">{{i.bookNmae}}</span>
                            <p class="explain-text">{{i.bookInfo}}</p>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <span class="btn btn-primary" @click="downloadBook(i.bookId,i.bookLink)">下载</span>
                                </div>
                                <div class="btn-group" role="group">
                                    <span class="btn btn-danger">下架</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer>
            <p class="text-center ">&copy; 2018 Personal, Inc.</p>
        </footer>
        <!-- /container -->

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery.js "></script>
        <script src="/js/vue.js "></script>
        <script src="/js/axios.min.js"></script>
        <script src="/js/bootstrap.js "></script>
        <script src="/js/lib/toast/toast.js "></script>
        <script src="/js/views/bookshelf.js "></script>

    </body>

</html>